[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

[ng-click]:hover {
  cursor: pointer;
}

[ng-click]:hover {
  cursor: pointer;
}

md-content.md-default-theme {
  background-color: #eee;
}

md-sidenav > md-toolbar {
  padding: 15px;
  height: 150px;
  max-height: 150px;
}

md-sidenav md-list-item.md-2-line .md-list-item-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

md-sidenav md-divider {
  margin-top: 4px;
  margin-bottom: 4px;
}

md-sidenav md-icon {
  fill: #737373;
  position: relative;
}

md-sidenav .md-avatar {
  height: 64px;
  width: 64px;
}

div.md-list-item-text {
  padding-bottom: 30px;
}

.md-avatar > svg {
  border-radius: 50%;
}

.animate-show {
  transition: 0.75s ease-out opacity;
  opacity: 1;
}

.animate-show.ng-hide {
  height: 0;
  min-height: 0;
  opacity: 0;
  overflow: hidden;
}

.logo {
  height: 75px;
  text-align: center;
  text-align: center;
  width: 75px;
  margin: 0 auto;
  margin-bottom: 8%
}


/*md-toolbar.md-hue-2{
  background-color: red !important;
}*/

.itmTitle {
  padding-top: 100px;
}

md-list-item.md-2-line>.md-no-style {
 min-height: 10px; 
  
}

md-list-item .md-list-item-inner {
  height: 10px;
}

md-list-item.md-2-line .md-list-item-text,
md-list-item.md-2-line>.md-no-style .md-list-item-text {
  margin: 0px;
}

md-list-item.md-2-line {
  min-height: 10px;
}